{% extends 'user/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>
                    Add Customer
                </h5>
                <form method="POST" autocomplete="off">
                    {% csrf_token %}
                    {{customer_form|crispy }}
                    <button type="submit" class="btn btn-primary">Add Customer</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}